# Public Key for Privy (Wallet Auth)
# Replace with your actual App ID from console.privy.io
NEXT_PUBLIC_PRIVY_APP_ID=cm4a3ak5a02cl6gli3xeblhcx

# Movement Network RPC URL (Optional if overriding default)
NEXT_PUBLIC_MOVEMENT_RPC_URL=https://testnet.movementnetwork.xyz/v1
# Privy Auth
PRIVY_APP_ID=
PRIVY_APP_SECRET=
# OpenAI API Key (Required for AI Generation)
OPENAI_API_KEY=
# Optional: Gateway URL (Required if using Vercel/Cloudflare Keys ie 'vck_')
OPENAI_BASE_URL=

# OpenRouter API Key
OPENROUTER_API_KEY=

# Valid PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/mydb?schema=public
